


	<div id="respond" class="publish-text">

		<h3 id="reply-title" class="comment-reply-title"><%= @article.title %></h3>


		<div class="form-group col-lg-12 col-md-12 col-sm-12">

			<!-- <form action="" class="form-inline row" method="patch"> -->
			<%= form_tag "/articles/#{@article.id}", :method => :patch, :class => "form-inline row" do %>

		 	<div><textarea class="form-control" name="title"><%= @article.title %></textarea></div>  
		
				<label class="sr-only" for="inputMessage">Content</label>
				<textarea class="form-control" id="inputMessage" name="content" rows="8" aria-required="true"><%= @article.content_for_editing %></textarea>

			<div class="form-group col-lg-12 col-md-12 col-sm-12">
				<button class="btn btn-primary" name="submit" id="submit">Submit changes</button>
			</div>

		<% end %>
		</div>

	</div>