


	<div id="respond" class="publish-text">


		<div class="form-group col-lg-12 col-md-12 col-sm-12">

			<!-- <form action="" class="form-inline row" method="patch"> -->
			<%= form_tag "/articles", :method => :post, :class => "form-inline row" do %>

		 	<div><textarea class="form-control" name="title" placeholder="Your title here"></textarea></div>  
		
				<label class="sr-only" for="inputMessage">Content</label>
				<textarea class="form-control" id="inputMessage" name="content" rows="8" aria-required="true" placeholder="Example of how to make a link/citation: (link url)[text]"></textarea>

			<div class="form-group col-lg-12 col-md-12 col-sm-12">
				<button class="btn btn-primary" name="submit" id="submit">Publish</button>
			</div>

		<% end %>
		</div>

	</div>